.uiButton {
  height: 50px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  text-overflow: ellipsis;
  &--primary {
    background-color: black;
    color: white;
  }
  &--secondary {
    background-color: grey;
    color: white;
  }
}
